

# macOS system-created files
.DS_STORE

# files created by Mac when a folder is nor on an HFS disk (e.g. my eternal ssd)
._*

threeClicks-to-do-list.txt

# files to hold code temporarily while testing different approches

copy-n-paste-js.js
copy-n-paste-css.css
copy-n-paste-html.html
