/*DONE*/
header {
  margin-left: 5%;
}

h1,
h2 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

h1 {
  font-size: 37px;
  color: hsl(270, 100%, 40%);
  font-weight: 900;
  letter-spacing: -3px;
  margin-bottom: 0;
}

h2 {
  font-size: 20px;
  font-weight: 300;
  margin-top: -12px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: lighter;
  color: hsl(270, 100%, 70%);
  margin-bottom: 10px;
  text-wrap: pretty;
}

#color-values-container {
  width: 100%;
  text-align: center;
  margin-left: 3%;
}

#color-values {
  display: inline-flex;
  align-items: center;
}

#color-values p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

#large-blob {
  width: 30px;
  height: 30px;
  margin: 0 1rem 0 1rem;
  border-radius: 25%;
  background-color: hsl(279, 70%, 40%);
}

#color-space {
  justify-items: center;
}

#palette {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;

  /**************************************************
  this code makes a perfectly squared palette grid
  *************************************************/
  width: 95vw;
  height: 95vw;
  min-width: 350px;
  min-height: 350px;
  max-width: 600px;
  max-height: 600px;
  margin-left: 4.8%;
  /*
  max-width: calc(100vh - 20em);
  max-height: calc(100vh - 20em);
  */
  display: grid;
  grid-template-columns: repeat(17, 5.6%);
  grid-template-rows: repeat(17, 5.56%);
  text-align: center;
}

.blob {
  border: 1px solid black;
  padding: 5px;
  border-radius: 25%;
}

.horizontal-text {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/*DOING*/

.horizontal-text > p {
  /* display: none; */
  margin: 2px;
}

/*tTODO*/

.vertical-text {
  /* display: none; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: -9px;
}

.vertical-text > p {
  width: 30px;
  height: 1rem;
  transform: rotate(-90deg);
}
