* {
  /* box-sizing: border-box; */
  color: black;
  font-family: sans-serif;
  box-sizing: border-box;
}

header {
  text-wrap: pretty;
}

h1 {
  font-size: 4.5rem;
  font-weight: lighter;
  text-align: center;
}

h2 {
  text-align: center;
}

#color-values-container {
  text-align: center;
}

#color-values {
  width: 30em;
  display: inline-flex;
  justify-content: space-around;
}

#large-blob {
  width: 2.5em;
  height: 2.5em;
  background-color: hsl(279, 70%, 40%);
}

#color-space {
  display: grid;
  justify-items: center;
}

#palette {
  font-size: 1vw;
  /**************************************************
  this code makes a perfectly squared palette grid
  *************************************************/
  width: 25em;
  height: 25em;
  min-width: 500px;
  min-height: 500px;
  /*
  max-width: calc(100vh - 20em);
  max-height: calc(100vh - 20em);
  */
  display: grid;
  grid-template-columns: repeat(17, 5.6%);
  grid-template-rows: repeat(17, 5.56%);
  text-align: center;
}

.blob {
  border: 1px solid black;
  padding: 5px;
  border-radius: 25%;
}

/******************
work in progress
*******************/

.horizontal-text {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.horizontal-text > p {
  /* display: none; */
  padding: 0;
  padding-bottom: 0.1%;
  margin: 0;
  height: 1rem;
  line-height: 1rem;
}

.vertical-text {
  /* display: none; */
  font-size: 12px /*0.7rem*/;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.vertical-text > p {
  padding: 0;
  margin: 0;

  transform: rotate(-90deg);
}
