#blob-single-285 {
  background-color: hsl(285, 100%, 50%);
}
#blob-single-286 {
  background-color: hsl(286, 100%, 50%);
}
#blob-single-287 {
  background-color: hsl(287, 100%, 50%);
}
#blob-single-288 {
  background-color: hsl(288, 100%, 50%);
}
#blob-single-289 {
  background-color: hsl(289, 100%, 50%);
}
#blob-single-290 {
  background-color: hsl(290, 100%, 50%);
}
#blob-single-291 {
  background-color: hsl(291, 100%, 50%);
}
#blob-single-292 {
  background-color: hsl(292, 100%, 50%);
}
#blob-single-293 {
  background-color: hsl(293, 100%, 50%);
}
#blob-single-294 {
  background-color: hsl(294, 100%, 50%);
}
#blob-single-295 {
  background-color: hsl(295, 100%, 50%);
}
#blob-single-296 {
  background-color: hsl(296, 100%, 50%);
}
#blob-single-297 {
  background-color: hsl(297, 100%, 50%);
}
#blob-single-298 {
  background-color: hsl(298, 100%, 50%);
}
#blob-single-299 {
  background-color: hsl(299, 100%, 50%);
}
#blob-single-284 {
  background-color: hsl(284, 100%, 50%);
}
#blob-single-283 {
  background-color: hsl(283, 100%, 50%);
}
#blob-group-180 {
  background-color: hsl(180, 100%, 50%);
}
#blob-group-195 {
  background-color: hsl(195, 100%, 50%);
}
#blob-group-210 {
  background-color: hsl(210, 100%, 50%);
}
#blob-group-225 {
  background-color: hsl(225, 100%, 50%);
}
#blob-group-240 {
  background-color: hsl(240, 100%, 50%);
}
#blob-group-255 {
  background-color: hsl(255, 100%, 50%);
}
#blob-group-270 {
  background-color: hsl(270, 100%, 50%);
}
#blob-group-285 {
  background-color: hsl(285, 100%, 50%);
}
#blob-group-300 {
  background-color: hsl(300, 100%, 50%);
}
#blob-group-315 {
  background-color: hsl(315, 100%, 50%);
}
#blob-group-330 {
  background-color: hsl(330, 100%, 50%);
}
#blob-group-345 {
  background-color: hsl(345, 100%, 50%);
}
#blob-group-360 {
  background-color: hsl(360, 100%, 50%);
}
#blob-single-282 {
  background-color: hsl(282, 100%, 50%);
}
#blob-group-165 {
  background-color: hsl(165, 100%, 50%);
}
#blob-single-281 {
  background-color: hsl(281, 100%, 50%);
}
#blob-group-150 {
  background-color: hsl(150, 100%, 50%);
}
#blob-shade-279100000 {
  background-color: hsl(279, 100%, 000%);
}
#blob-shade-279100010 {
  background-color: hsl(279, 100%, 010%);
}
#blob-shade-279100020 {
  background-color: hsl(279, 100%, 020%);
}
#blob-shade-279100030 {
  background-color: hsl(279, 100%, 030%);
}
#blob-shade-279100040 {
  background-color: hsl(279, 100%, 040%);
}
#blob-shade-279100050 {
  background-color: hsl(279, 100%, 050%);
}
#blob-shade-279100060 {
  background-color: hsl(279, 100%, 060%);
}
#blob-shade-279100070 {
  background-color: hsl(279, 100%, 070%);
}
#blob-shade-279100080 {
  background-color: hsl(279, 100%, 080%);
}
#blob-shade-279100090 {
  background-color: hsl(279, 100%, 090%);
}
#blob-shade-279100100 {
  background-color: hsl(279, 100%, 100%);
}
#blob-single-280 {
  background-color: hsl(280, 100%, 50%);
}
#blob-group-135 {
  background-color: hsl(135, 100%, 50%);
}
#blob-shade-279090000 {
  background-color: hsl(279, 090%, 000%);
}
#blob-shade-279090010 {
  background-color: hsl(279, 090%, 010%);
}
#blob-shade-279090020 {
  background-color: hsl(279, 090%, 020%);
}
#blob-shade-279090030 {
  background-color: hsl(279, 090%, 030%);
}
#blob-shade-279090040 {
  background-color: hsl(279, 090%, 040%);
}
#blob-shade-279090050 {
  background-color: hsl(279, 090%, 050%);
}
#blob-shade-279090060 {
  background-color: hsl(279, 090%, 060%);
}
#blob-shade-279090070 {
  background-color: hsl(279, 090%, 070%);
}
#blob-shade-279090080 {
  background-color: hsl(279, 090%, 080%);
}
#blob-shade-279090090 {
  background-color: hsl(279, 090%, 090%);
}
#blob-shade-279090100 {
  background-color: hsl(279, 090%, 100%);
}
#blob-single-279 {
  background-color: hsl(279, 100%, 50%);
}
#blob-group-120 {
  background-color: hsl(120, 100%, 50%);
}
#blob-shade-279080000 {
  background-color: hsl(279, 080%, 000%);
}
#blob-shade-279080010 {
  background-color: hsl(279, 080%, 010%);
}
#blob-shade-279080020 {
  background-color: hsl(279, 080%, 020%);
}
#blob-shade-279080030 {
  background-color: hsl(279, 080%, 030%);
}
#blob-shade-279080040 {
  background-color: hsl(279, 080%, 040%);
}
#blob-shade-279080050 {
  background-color: hsl(279, 080%, 050%);
}
#blob-shade-279080060 {
  background-color: hsl(279, 080%, 060%);
}
#blob-shade-279080070 {
  background-color: hsl(279, 080%, 070%);
}
#blob-shade-279080080 {
  background-color: hsl(279, 080%, 080%);
}
#blob-shade-279080090 {
  background-color: hsl(279, 080%, 090%);
}
#blob-shade-279080100 {
  background-color: hsl(279, 080%, 100%);
}
#blob-single-278 {
  background-color: hsl(278, 100%, 50%);
}
#blob-group-105 {
  background-color: hsl(105, 100%, 50%);
}
#blob-shade-279070000 {
  background-color: hsl(279, 070%, 000%);
}
#blob-shade-279070010 {
  background-color: hsl(279, 070%, 010%);
}
#blob-shade-279070020 {
  background-color: hsl(279, 070%, 020%);
}
#blob-shade-279070030 {
  background-color: hsl(279, 070%, 030%);
}
#blob-shade-279070040 {
  background-color: hsl(279, 070%, 040%);
}
#blob-shade-279070050 {
  background-color: hsl(279, 070%, 050%);
}
#blob-shade-279070060 {
  background-color: hsl(279, 070%, 060%);
}
#blob-shade-279070070 {
  background-color: hsl(279, 070%, 070%);
}
#blob-shade-279070080 {
  background-color: hsl(279, 070%, 080%);
}
#blob-shade-279070090 {
  background-color: hsl(279, 070%, 090%);
}
#blob-shade-279070100 {
  background-color: hsl(279, 070%, 100%);
}
#blob-single-277 {
  background-color: hsl(277, 100%, 50%);
}
#blob-group-090 {
  background-color: hsl(90, 100%, 50%);
}
#blob-shade-279060000 {
  background-color: hsl(279, 060%, 000%);
}
#blob-shade-279060010 {
  background-color: hsl(279, 060%, 010%);
}
#blob-shade-279060020 {
  background-color: hsl(279, 060%, 020%);
}
#blob-shade-279060030 {
  background-color: hsl(279, 060%, 030%);
}
#blob-shade-279060040 {
  background-color: hsl(279, 060%, 040%);
}
#blob-shade-279060050 {
  background-color: hsl(279, 060%, 050%);
}
#blob-shade-279060060 {
  background-color: hsl(279, 060%, 060%);
}
#blob-shade-279060070 {
  background-color: hsl(279, 060%, 070%);
}
#blob-shade-279060080 {
  background-color: hsl(279, 060%, 080%);
}
#blob-shade-279060090 {
  background-color: hsl(279, 060%, 090%);
}
#blob-shade-279060100 {
  background-color: hsl(279, 060%, 100%);
}
#blob-single-276 {
  background-color: hsl(276, 100%, 50%);
}
#blob-group-075 {
  background-color: hsl(75, 100%, 50%);
}
#blob-shade-279050000 {
  background-color: hsl(279, 050%, 000%);
}
#blob-shade-279050010 {
  background-color: hsl(279, 050%, 010%);
}
#blob-shade-279050020 {
  background-color: hsl(279, 050%, 020%);
}
#blob-shade-279050030 {
  background-color: hsl(279, 050%, 030%);
}
#blob-shade-279050040 {
  background-color: hsl(279, 050%, 040%);
}
#blob-shade-279050050 {
  background-color: hsl(279, 050%, 050%);
}
#blob-shade-279050060 {
  background-color: hsl(279, 050%, 060%);
}
#blob-shade-279050070 {
  background-color: hsl(279, 050%, 070%);
}
#blob-shade-279050080 {
  background-color: hsl(279, 050%, 080%);
}
#blob-shade-279050090 {
  background-color: hsl(279, 050%, 090%);
}
#blob-shade-279050100 {
  background-color: hsl(279, 050%, 100%);
}
#blob-single-275 {
  background-color: hsl(275, 100%, 50%);
}
#blob-group-060 {
  background-color: hsl(60, 100%, 50%);
}
#blob-shade-279040000 {
  background-color: hsl(279, 040%, 000%);
}
#blob-shade-279040010 {
  background-color: hsl(279, 040%, 010%);
}
#blob-shade-279040020 {
  background-color: hsl(279, 040%, 020%);
}
#blob-shade-279040030 {
  background-color: hsl(279, 040%, 030%);
}
#blob-shade-279040040 {
  background-color: hsl(279, 040%, 040%);
}
#blob-shade-279040050 {
  background-color: hsl(279, 040%, 050%);
}
#blob-shade-279040060 {
  background-color: hsl(279, 040%, 060%);
}
#blob-shade-279040070 {
  background-color: hsl(279, 040%, 070%);
}
#blob-shade-279040080 {
  background-color: hsl(279, 040%, 080%);
}
#blob-shade-279040090 {
  background-color: hsl(279, 040%, 090%);
}
#blob-shade-279040100 {
  background-color: hsl(279, 040%, 100%);
}
#blob-single-274 {
  background-color: hsl(274, 100%, 50%);
}
#blob-group-045 {
  background-color: hsl(45, 100%, 50%);
}
#blob-shade-279030000 {
  background-color: hsl(279, 030%, 000%);
}
#blob-shade-279030010 {
  background-color: hsl(279, 030%, 010%);
}
#blob-shade-279030020 {
  background-color: hsl(279, 030%, 020%);
}
#blob-shade-279030030 {
  background-color: hsl(279, 030%, 030%);
}
#blob-shade-279030040 {
  background-color: hsl(279, 030%, 040%);
}
#blob-shade-279030050 {
  background-color: hsl(279, 030%, 050%);
}
#blob-shade-279030060 {
  background-color: hsl(279, 030%, 060%);
}
#blob-shade-279030070 {
  background-color: hsl(279, 030%, 070%);
}
#blob-shade-279030080 {
  background-color: hsl(279, 030%, 080%);
}
#blob-shade-279030090 {
  background-color: hsl(279, 030%, 090%);
}
#blob-shade-279030100 {
  background-color: hsl(279, 030%, 100%);
}
#blob-single-273 {
  background-color: hsl(273, 100%, 50%);
}
#blob-group-030 {
  background-color: hsl(30, 100%, 50%);
}
#blob-shade-279020000 {
  background-color: hsl(279, 020%, 000%);
}
#blob-shade-279020010 {
  background-color: hsl(279, 020%, 010%);
}
#blob-shade-279020020 {
  background-color: hsl(279, 020%, 020%);
}
#blob-shade-279020030 {
  background-color: hsl(279, 020%, 030%);
}
#blob-shade-279020040 {
  background-color: hsl(279, 020%, 040%);
}
#blob-shade-279020050 {
  background-color: hsl(279, 020%, 050%);
}
#blob-shade-279020060 {
  background-color: hsl(279, 020%, 060%);
}
#blob-shade-279020070 {
  background-color: hsl(279, 020%, 070%);
}
#blob-shade-279020080 {
  background-color: hsl(279, 020%, 080%);
}
#blob-shade-279020090 {
  background-color: hsl(279, 020%, 090%);
}
#blob-shade-279020100 {
  background-color: hsl(279, 020%, 100%);
}
#blob-single-272 {
  background-color: hsl(272, 100%, 50%);
}
#blob-group-015 {
  background-color: hsl(15, 100%, 50%);
}
#blob-shade-279010000 {
  background-color: hsl(279, 010%, 000%);
}
#blob-shade-279010010 {
  background-color: hsl(279, 010%, 010%);
}
#blob-shade-279010020 {
  background-color: hsl(279, 010%, 020%);
}
#blob-shade-279010030 {
  background-color: hsl(279, 010%, 030%);
}
#blob-shade-279010040 {
  background-color: hsl(279, 010%, 040%);
}
#blob-shade-279010050 {
  background-color: hsl(279, 010%, 050%);
}
#blob-shade-279010060 {
  background-color: hsl(279, 010%, 060%);
}
#blob-shade-279010070 {
  background-color: hsl(279, 010%, 070%);
}
#blob-shade-279010080 {
  background-color: hsl(279, 010%, 080%);
}
#blob-shade-279010090 {
  background-color: hsl(279, 010%, 090%);
}
#blob-shade-279010100 {
  background-color: hsl(279, 010%, 100%);
}
#blob-single-271 {
  background-color: hsl(271, 100%, 50%);
}
#blob-group-000 {
  background-color: hsl(0, 100%, 50%);
}
#blob-shade-279000000 {
  background-color: hsl(279, 000%, 000%);
}
#blob-shade-279000010 {
  background-color: hsl(279, 000%, 010%);
}
#blob-shade-279000020 {
  background-color: hsl(279, 000%, 020%);
}
#blob-shade-279000030 {
  background-color: hsl(279, 000%, 030%);
}
#blob-shade-279000040 {
  background-color: hsl(279, 000%, 040%);
}
#blob-shade-279000050 {
  background-color: hsl(279, 000%, 050%);
}
#blob-shade-279000060 {
  background-color: hsl(279, 000%, 060%);
}
#blob-shade-279000070 {
  background-color: hsl(279, 000%, 070%);
}
#blob-shade-279000080 {
  background-color: hsl(279, 000%, 080%);
}
#blob-shade-279000090 {
  background-color: hsl(279, 000%, 090%);
}
#blob-shade-279000100 {
  background-color: hsl(279, 000%, 100%);
}
