#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-285 {
  background-color: hsl(285, 100%, 50%);
}
#blob-286 {
  background-color: hsl(286, 100%, 50%);
}
#blob-287 {
  background-color: hsl(287, 100%, 50%);
}
#blob-288 {
  background-color: hsl(288, 100%, 50%);
}
#blob-289 {
  background-color: hsl(289, 100%, 50%);
}
#blob-290 {
  background-color: hsl(290, 100%, 50%);
}
#blob-291 {
  background-color: hsl(291, 100%, 50%);
}
#blob-292 {
  background-color: hsl(292, 100%, 50%);
}
#blob-293 {
  background-color: hsl(293, 100%, 50%);
}
#blob-294 {
  background-color: hsl(294, 100%, 50%);
}
#blob-295 {
  background-color: hsl(295, 100%, 50%);
}
#blob-296 {
  background-color: hsl(296, 100%, 50%);
}
#blob-297 {
  background-color: hsl(297, 100%, 50%);
}
#blob-298 {
  background-color: hsl(298, 100%, 50%);
}
#blob-299 {
  background-color: hsl(299, 100%, 50%);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-284 {
  background-color: hsl(284, 100%, 50%);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-283 {
  background-color: hsl(283, 100%, 50%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-180 {
  background-color: hsl(180, 100%, 50%);
}
#blob-195 {
  background-color: hsl(195, 100%, 50%);
}
#blob-210 {
  background-color: hsl(210, 100%, 50%);
}
#blob-225 {
  background-color: hsl(225, 100%, 50%);
}
#blob-240 {
  background-color: hsl(240, 100%, 50%);
}
#blob-255 {
  background-color: hsl(255, 100%, 50%);
}
#blob-270 {
  background-color: hsl(270, 100%, 50%);
}
#blob-285 {
  background-color: hsl(285, 100%, 50%);
}
#blob-300 {
  background-color: hsl(300, 100%, 50%);
}
#blob-315 {
  background-color: hsl(315, 100%, 50%);
}
#blob-330 {
  background-color: hsl(330, 100%, 50%);
}
#blob-345 {
  background-color: hsl(345, 100%, 50%);
}
#blob-360 {
  background-color: hsl(360, 100%, 50%);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-282 {
  background-color: hsl(282, 100%, 50%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-165 {
  background-color: hsl(165, 100%, 50%);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-281 {
  background-color: hsl(281, 100%, 50%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-150 {
  background-color: hsl(150, 100%, 50%);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-100000 {
  background-color: hsl(279, 100%, 000%);
}
#blob-100010 {
  background-color: hsl(279, 100%, 010%);
}
#blob-100020 {
  background-color: hsl(279, 100%, 020%);
}
#blob-100030 {
  background-color: hsl(279, 100%, 030%);
}
#blob-100040 {
  background-color: hsl(279, 100%, 040%);
}
#blob-100050 {
  background-color: hsl(279, 100%, 050%);
}
#blob-100060 {
  background-color: hsl(279, 100%, 060%);
}
#blob-100070 {
  background-color: hsl(279, 100%, 070%);
}
#blob-100080 {
  background-color: hsl(279, 100%, 080%);
}
#blob-100090 {
  background-color: hsl(279, 100%, 090%);
}
#blob-100100 {
  background-color: hsl(279, 100%, 100%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-280 {
  background-color: hsl(280, 100%, 50%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-135 {
  background-color: hsl(135, 100%, 50%);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-090000 {
  background-color: hsl(279, 090%, 000%);
}
#blob-090010 {
  background-color: hsl(279, 090%, 010%);
}
#blob-090020 {
  background-color: hsl(279, 090%, 020%);
}
#blob-090030 {
  background-color: hsl(279, 090%, 030%);
}
#blob-090040 {
  background-color: hsl(279, 090%, 040%);
}
#blob-090050 {
  background-color: hsl(279, 090%, 050%);
}
#blob-090060 {
  background-color: hsl(279, 090%, 060%);
}
#blob-090070 {
  background-color: hsl(279, 090%, 070%);
}
#blob-090080 {
  background-color: hsl(279, 090%, 080%);
}
#blob-090090 {
  background-color: hsl(279, 090%, 090%);
}
#blob-090100 {
  background-color: hsl(279, 090%, 100%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-279 {
  background-color: hsl(279, 100%, 50%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-120 {
  background-color: hsl(120, 100%, 50%);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-080000 {
  background-color: hsl(279, 080%, 000%);
}
#blob-080010 {
  background-color: hsl(279, 080%, 010%);
}
#blob-080020 {
  background-color: hsl(279, 080%, 020%);
}
#blob-080030 {
  background-color: hsl(279, 080%, 030%);
}
#blob-080040 {
  background-color: hsl(279, 080%, 040%);
}
#blob-080050 {
  background-color: hsl(279, 080%, 050%);
}
#blob-080060 {
  background-color: hsl(279, 080%, 060%);
}
#blob-080070 {
  background-color: hsl(279, 080%, 070%);
}
#blob-080080 {
  background-color: hsl(279, 080%, 080%);
}
#blob-080090 {
  background-color: hsl(279, 080%, 090%);
}
#blob-080100 {
  background-color: hsl(279, 080%, 100%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-278 {
  background-color: hsl(278, 100%, 50%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-105 {
  background-color: hsl(105, 100%, 50%);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-070000 {
  background-color: hsl(279, 070%, 000%);
}
#blob-070010 {
  background-color: hsl(279, 070%, 010%);
}
#blob-070020 {
  background-color: hsl(279, 070%, 020%);
}
#blob-070030 {
  background-color: hsl(279, 070%, 030%);
}
#blob-070040 {
  background-color: hsl(279, 070%, 040%);
}
#blob-070050 {
  background-color: hsl(279, 070%, 050%);
}
#blob-070060 {
  background-color: hsl(279, 070%, 060%);
}
#blob-070070 {
  background-color: hsl(279, 070%, 070%);
}
#blob-070080 {
  background-color: hsl(279, 070%, 080%);
}
#blob-070090 {
  background-color: hsl(279, 070%, 090%);
}
#blob-070100 {
  background-color: hsl(279, 070%, 100%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-277 {
  background-color: hsl(277, 100%, 50%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-90 {
  background-color: hsl(90, 100%, 50%);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-060000 {
  background-color: hsl(279, 060%, 000%);
}
#blob-060010 {
  background-color: hsl(279, 060%, 010%);
}
#blob-060020 {
  background-color: hsl(279, 060%, 020%);
}
#blob-060030 {
  background-color: hsl(279, 060%, 030%);
}
#blob-060040 {
  background-color: hsl(279, 060%, 040%);
}
#blob-060050 {
  background-color: hsl(279, 060%, 050%);
}
#blob-060060 {
  background-color: hsl(279, 060%, 060%);
}
#blob-060070 {
  background-color: hsl(279, 060%, 070%);
}
#blob-060080 {
  background-color: hsl(279, 060%, 080%);
}
#blob-060090 {
  background-color: hsl(279, 060%, 090%);
}
#blob-060100 {
  background-color: hsl(279, 060%, 100%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-276 {
  background-color: hsl(276, 100%, 50%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-75 {
  background-color: hsl(75, 100%, 50%);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-050000 {
  background-color: hsl(279, 050%, 000%);
}
#blob-050010 {
  background-color: hsl(279, 050%, 010%);
}
#blob-050020 {
  background-color: hsl(279, 050%, 020%);
}
#blob-050030 {
  background-color: hsl(279, 050%, 030%);
}
#blob-050040 {
  background-color: hsl(279, 050%, 040%);
}
#blob-050050 {
  background-color: hsl(279, 050%, 050%);
}
#blob-050060 {
  background-color: hsl(279, 050%, 060%);
}
#blob-050070 {
  background-color: hsl(279, 050%, 070%);
}
#blob-050080 {
  background-color: hsl(279, 050%, 080%);
}
#blob-050090 {
  background-color: hsl(279, 050%, 090%);
}
#blob-050100 {
  background-color: hsl(279, 050%, 100%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-275 {
  background-color: hsl(275, 100%, 50%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-60 {
  background-color: hsl(60, 100%, 50%);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-040000 {
  background-color: hsl(279, 040%, 000%);
}
#blob-040010 {
  background-color: hsl(279, 040%, 010%);
}
#blob-040020 {
  background-color: hsl(279, 040%, 020%);
}
#blob-040030 {
  background-color: hsl(279, 040%, 030%);
}
#blob-040040 {
  background-color: hsl(279, 040%, 040%);
}
#blob-040050 {
  background-color: hsl(279, 040%, 050%);
}
#blob-040060 {
  background-color: hsl(279, 040%, 060%);
}
#blob-040070 {
  background-color: hsl(279, 040%, 070%);
}
#blob-040080 {
  background-color: hsl(279, 040%, 080%);
}
#blob-040090 {
  background-color: hsl(279, 040%, 090%);
}
#blob-040100 {
  background-color: hsl(279, 040%, 100%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-274 {
  background-color: hsl(274, 100%, 50%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-45 {
  background-color: hsl(45, 100%, 50%);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-030000 {
  background-color: hsl(279, 030%, 000%);
}
#blob-030010 {
  background-color: hsl(279, 030%, 010%);
}
#blob-030020 {
  background-color: hsl(279, 030%, 020%);
}
#blob-030030 {
  background-color: hsl(279, 030%, 030%);
}
#blob-030040 {
  background-color: hsl(279, 030%, 040%);
}
#blob-030050 {
  background-color: hsl(279, 030%, 050%);
}
#blob-030060 {
  background-color: hsl(279, 030%, 060%);
}
#blob-030070 {
  background-color: hsl(279, 030%, 070%);
}
#blob-030080 {
  background-color: hsl(279, 030%, 080%);
}
#blob-030090 {
  background-color: hsl(279, 030%, 090%);
}
#blob-030100 {
  background-color: hsl(279, 030%, 100%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-273 {
  background-color: hsl(273, 100%, 50%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-30 {
  background-color: hsl(30, 100%, 50%);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-020000 {
  background-color: hsl(279, 020%, 000%);
}
#blob-020010 {
  background-color: hsl(279, 020%, 010%);
}
#blob-020020 {
  background-color: hsl(279, 020%, 020%);
}
#blob-020030 {
  background-color: hsl(279, 020%, 030%);
}
#blob-020040 {
  background-color: hsl(279, 020%, 040%);
}
#blob-020050 {
  background-color: hsl(279, 020%, 050%);
}
#blob-020060 {
  background-color: hsl(279, 020%, 060%);
}
#blob-020070 {
  background-color: hsl(279, 020%, 070%);
}
#blob-020080 {
  background-color: hsl(279, 020%, 080%);
}
#blob-020090 {
  background-color: hsl(279, 020%, 090%);
}
#blob-020100 {
  background-color: hsl(279, 020%, 100%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-272 {
  background-color: hsl(272, 100%, 50%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-15 {
  background-color: hsl(15, 100%, 50%);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-010000 {
  background-color: hsl(279, 010%, 000%);
}
#blob-010010 {
  background-color: hsl(279, 010%, 010%);
}
#blob-010020 {
  background-color: hsl(279, 010%, 020%);
}
#blob-010030 {
  background-color: hsl(279, 010%, 030%);
}
#blob-010040 {
  background-color: hsl(279, 010%, 040%);
}
#blob-010050 {
  background-color: hsl(279, 010%, 050%);
}
#blob-010060 {
  background-color: hsl(279, 010%, 060%);
}
#blob-010070 {
  background-color: hsl(279, 010%, 070%);
}
#blob-010080 {
  background-color: hsl(279, 010%, 080%);
}
#blob-010090 {
  background-color: hsl(279, 010%, 090%);
}
#blob-010100 {
  background-color: hsl(279, 010%, 100%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-271 {
  background-color: hsl(271, 100%, 50%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-0 {
  background-color: hsl(0, 100%, 50%);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#blob-000000 {
  background-color: hsl(279, 000%, 000%);
}
#blob-000010 {
  background-color: hsl(279, 000%, 010%);
}
#blob-000020 {
  background-color: hsl(279, 000%, 020%);
}
#blob-000030 {
  background-color: hsl(279, 000%, 030%);
}
#blob-000040 {
  background-color: hsl(279, 000%, 040%);
}
#blob-000050 {
  background-color: hsl(279, 000%, 050%);
}
#blob-000060 {
  background-color: hsl(279, 000%, 060%);
}
#blob-000070 {
  background-color: hsl(279, 000%, 070%);
}
#blob-000080 {
  background-color: hsl(279, 000%, 080%);
}
#blob-000090 {
  background-color: hsl(279, 000%, 090%);
}
#blob-000100 {
  background-color: hsl(279, 000%, 100%);
}
#vertical-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#horizontal-text {
  background-color: hsla(0, 100%, 100%, 0);
}
#empty {
  background-color: hsla(0, 100%, 100%, 0);
}
